# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

[{*.css,*.scss}]
indent_size = 2
tab_width = 2

[{*.json,*.yml,*.ini,.env,.env.dist,*.dist,.bowerrc,package.json}]
indent_size = 2
tab_width = 2

[*.md]
indent_size = 2

[Makefile]
indent_style = tab

[phpunit.xml.dist]
indent_size = 4
tab_width = 4

[*.xml]
indent_size = 4
tab_width = 4

[*.html]
max_line_length = 300